{% extends 'base.html' %}

{% block title %}Acciones{% endblock %}

{% block content %}
<h2>Actividades de Usuario.</h2>

  <table id="acciones">

    <tbody>
        <tr><td><a href="{% url 'PagGestion:importar_Profesores' %}" class="aicon"><i class="ti-book dicon"></i><p>Carga de Profesores</p></a></td>
        <td><a href="{% url 'PagGestion:importar_horarios' %}" class="aicon"><i class="ti-write dicon"></i><p>Carga de Alumnos</p></a></td>

        <td><a href="{% url 'PagGestion:agenda_profesores' %}" class="aicon"><i class="ti-calendar dicon"></i><p>Agendamiento de Prácticas.</p></a></td>
        <td><a href="{% url 'PagGestion:encuesta_practica' %}" class="aicon"><i class="ti-receipt dicon"></i><p>Encuesta de Prácticas.</p></a></td>
        <td><a href="{% url 'PagGestion:encuesta_laboratorio' %}" class="aicon"><i class="ti-receipt dicon"></i><p>Encuesta de Laboratorio.</p></a></td></tr>
    </tbody>
  </table>

{% endblock %}
