{% load static %}
<script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/datatables.min.js"%}"></script>
<script src="{% static "datatables/jquery.dataTables.min.js"%}"></script>
<script src="{% static "js/dataTables.buttons.min.js"%}"></script>
<script src="{% static "js/buttons.flash.min.js"%}"></script>
<script src="{% static "js/jszip.min.js"%}"></script>
<script src="{% static "js/pdfmake.min.js"%}"></script>
<script src="{% static "js/vfs_fonts.js"%}"></script>
<script src="{% static "js/buttons.html5.min.js"%}"></script>
<script src="{% static "js/buttons.print.min.js"%}"></script>
<script src="{% static "js/buttons.colVis.js"%}"></script>
<script src="{% static "js/dataTables.responsive.min.js"%}"></script>
<script src="{% static "js/toastr.min.js"%}"></script>
