<!-- <header>
  <nav>
    <ul>
      <li><a href="#" id="logo">Menú1</a></li>
      <li><a href="#">Menú 2</a></li>
      <li><a href="#">Menú 3</a>
          <ul>
            <li><a href="#">SubMenú3.1</a></li>
            <li><a href="#">SubMenú3.2</a></li>
            <li><a href="#">SubMenú3.3</a></li>
            <li><a href="#">SubMenú3.4</a></li>
          </ul>
      </li>
      <li><a href="#">Menú 4</a></li>
      <li><a href="#">Menú 5</a></li>
    </ul>
  </nav>
</header>
 -->
 <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="display:none;">
   <!-- Overlay -->
   <div class="overlay"></div>

   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
     <li data-target="#bs-carousel" data-slide-to="1"></li>
     <li data-target="#bs-carousel" data-slide-to="2"></li>
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner">
     <div class="item slides active">
       <div class="slide-1"></div>
       <div class="hero">
         <hgroup>
             <h1>We are creative</h1>
             <h3>Get start your next awesome project</h3>
         </hgroup>
         <button class="btn btn-hero btn-lg" role="button">See all features</button>
       </div>
     </div>
     <div class="item slides">
       <div class="slide-2"></div>
       <div class="hero">
         <hgroup>
             <h1>We are smart</h1>
             <h3>Get start your next awesome project</h3>
         </hgroup>
         <button class="btn btn-hero btn-lg" role="button">See all features</button>
       </div>
     </div>
     <div class="item slides">
       <div class="slide-3"></div>
       <div class="hero">
         <hgroup>
             <h1>We are amazing</h1>
             <h3>Get start your next awesome project</h3>
         </hgroup>
         <button class="btn btn-hero btn-lg" role="button">See all features</button>
       </div>
     </div>
   </div>
 </div>
