<footer class="container">
  <div class="row">
      <div class="col-sm-12 col-md-12 footer__elem">
          <div>
              Datos de Contacto |
              <a href="{% url 'PagGestion:instrucciones' %}" style="color:white;"> Instrucciones de carga</a>
          </div>
      </div>
      <div class="col-sm-12 col-md-12 footer__privacidad">
          <div>
              <p>
                  Hecho en México, todos los derechos reservados 2018. Esta página puede ser reproducida con fines no lucrativos,
                  siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. De otra forma, requiere
                  permiso previo por escrito de la institución.
              </p>
          </div>
      </div>

  </div>
</footer>
