{% load static %}
<div class="container">
  <div class="row">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-left">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <img src="{% static "imagenes/logo_acatlan.png" %}" id="navbar_logo" class="img-responsive">
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span>   Home</a></li>
                <li><p class="navbar-text">Sistema de Gestión de la Calidad</p></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'PagGestion:acciones' %}"><span class="glyphicon glyphicon-user"></span>   Usuario</a></li>
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-log-out"></span>   Salir</a></li>
                <!-- Agregar código para el caso en el que no se encuentra logueado -->
              </ul>
            </div><!-- /.navbar-collapse -->

      </div>
    </nav>

  </div>
</div>
