*{
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
	text-decoration:none; 
}
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section,div{ 
    display:block;
}

table,#imagenslide,nav#principal,footer{
	width:100%;
}

table.tablaP{
    margin-bottom: 25px;
}

body{
	background:#FFFFFF;
	font: 11px Verdana,"DejaVu Sans","Bitstream Vera Sans",sans-serif;
}

a{
    color: #000000;
    cursor: pointer;
}

a:hover
{
     color:#fff;
}

div#cuerpo{
	margin: 0 auto;
	width: 75%;
	z-index: 0;
}

#imagenslide{
	z-index: -1;
	height: auto;
}

#contenido{
	position:absolute;
	width:75%;
	top:0;
	z-index: 1;
}

header{
	margin: 0 auto;
	height: 130px;
	background-color: rgba(0,43,122, .7);
}

#logoizq{
	width: 49%;
	float: left;
	height: 130px;
	background: url("../image/logounam.png");
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 12px;
}

#logoder{
	width: 48%;
	height: 130px;
	background: url("../image/Ingenieria-Civil.png");
	background-repeat: no-repeat;
	background-position: right;
	float: left;
}

nav#principal{
    background-image: -webkit-gradient(linear,left top,
	left bottom,color-stop(0.52, #EFCA45),color-stop(1, #CEA510));
	background-image: -o-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: -moz-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: -webkit-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: -ms-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: linear-gradient(to bottom, #EFCA45 52%, #CEA510 100%);
    display: inline-flex;
    padding: .25em 0px;
    text-align: center;
}

nav#principal li{
    margin: 0 auto;
	text-shadow: 1px 1px 1px #AAA;
	transition: linear .2s all;	
}

nav#principal li:hover ul
{
	display: block;
}

nav#principal li ul{
	background-image: -webkit-gradient(linear,left top,
	left bottom,color-stop(0.52, #EFCA45),color-stop(1, #CEA510));
	background-image: -o-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: -moz-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: -webkit-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: -ms-linear-gradient(bottom, #EFCA45 52%, #CEA510 100%);
	background-image: linear-gradient(to bottom, #EFCA45 52%, #CEA510 100%);
	border-radius: 0px 0px 5px 5px;
	margin-top: 0px;
	transform: translatex(-25%);
	position: absolute;
	display: none;
}

nav#principal li ul li{
    margin: 10px 0px 0px 0px;
    padding: 0px 30px 15px 30px;
}

nav#principal li ul li ul{
	margin: -20px 0 0 136px;
    border-radius: 0 10px 10px 10px;    
}

nav#principal li ul li ul li
{	
    display: none;
}

nav#principal li ul li:hover ul li
{
    display: block;
}


.redeSociales{
	background-image: -webkit-gradient(linear,left top,
	left bottom,color-stop(0, #2968CE),color-stop(1, #002B7A));
	background-image: -o-linear-gradient(bottom, #2968CE 0%, #002B7A 100%);
	background-image: -moz-linear-gradient(bottom, #2968CE 0%, #002B7A 100%);
	background-image: -webkit-linear-gradient(bottom, #2968CE 0%, #002B7A 100%);
	background-image: -ms-linear-gradient(bottom, #2968CE 0%, #002B7A 100%);
	background-image: linear-gradient(to bottom, #2968CE 0%, #002B7A 100%);
}

.derechos {
    text-align: center;
    background: #000000;
    padding: 5px 0px;
    color: white;
}

.derechosUp {
    padding: 3px 0px;
    margin: 0px 0px 12px 0px;
}

.nombrede{
    padding-left: 50px;
    color: black;
}

h5{
    color:black;
}

.fondoLogo{
    background: #FFFFFF url("../image/circuito.png");
    width: 100%;   
    padding-bottom: 30px;
    padding-top: 90px;
}

.logoMac {
    height:  60px;
    width: 95%;
    background-image: url("../image/ingcivilazul.png");
    background-position: right;
    background-repeat: no-repeat;   
}

.sectionError
{
	background: #FFFFFF url("../image/circuito.png");
    width: 100%;   
    padding: 80px 0px 30px 0px;
    text-align: center;
}

.error
{
  background-color: rgba(0,43,122, .8);  
  padding: 20px 0px 50px 0px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
}

.error h3
{
  font-size: 1.5em;
  color: whitesmoke;
  margin: 0px 15px;
  padding-bottom: 15px;
  border-bottom: groove 2px #CEA510;
}

.mensajeError
{
  font-size: 1.2em;
  color: whitesmoke;
}

