/*AVISOS*/
.avisos_descripcion
{
max-height	: 435;
max-width	: 630;
}

.avisos_descripcion .descripcion a, .eventos_descripcion .descripcion a
{
  text-decoration: underline;
  color: #CEA510;
}

.avisos_descripcion .descripcion a:hover, .eventos_descripcion .descripcion a:hover
{
  color: black;
}

.avisos_descripcion > h2{
font-size: 1.5em;
border-bottom: groove 2px #CEA510;
padding: 5px 0px 5px 0px;
color: rgba(0, 43, 122,1);
}

.avisos_descripcion > .descripcion
{
padding: 10px 0px 10px 0px;
max-height: 300px;
width: 610px;
overflow-y: auto;
overflow-x: hidden;
}

.avisos_descripcion > .descripcion > p{
color: black;
font-size: 1.19em;
padding: 5px 8px 5px 8px;
}

.avisos_descripcion > .archivos {
padding: 10px 5px 10px 5px;
}

.avisos_descripcion > .archivos > ul > li > a > strong{
color: black;
font-size: 1.1em;
}

.avisos_descripcion > .archivos > ul > li > a:hover > strong{
  color: #CEA510;
}


/*EVENTOS*/
.eventos_descripcion
{
max-height	: 435;
max-width	: 630;
}

.eventos_descripcion > h2{
font-size: 1.5em;
border-bottom: groove 2px #CEA510;
padding: 5px 0px 5px 0px;
color: rgba(0, 43, 122,1);
}

.eventos_descripcion > .descripcion
{
padding: 10px 0px 10px 0px;
max-height: 300px;
width: 610px;
overflow-y: auto;
overflow-x: hidden;
}

.eventos_descripcion > .descripcion > p{
color: black;
font-size: 1.19em;
padding: 5px 8px 5px 8px;
}

.eventos_descripcion > .archivos {
padding: 10px 5px 10px 5px;
}

.eventos_descripcion > .archivos > ul > li > a > strong{
color: black;
font-size: 1.1em;
}

.eventos_descripcion > .archivos > ul > li > a:hover > strong{
  color: #CEA510;
}
