{% extends 'base.html' %}
{% block title %}Encuesta de Laboratorio{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid clearfix">
	<form method="post">
		{% csrf_token %}
			<img class="img-responsive" src="{%static "imagenes/encaen.jpg"%}">
				<label><b><em>CALIDAD EN EL SERVICIO</em></b></label>
			{{form.folio}}
			{{form.id_profesor}}
			{{form.id_laboratorio_horario}}
			{{form.id_profesor}}
			{{form.id_practica}}
			{{form.observaciones}}
	</form>
	<button class="btn btn-sm btn-primary" type="submit">Terminar Encuesta </button>
</div>

{%endblock%}
