{% extends 'base.html' %}

{% block title %}Encuesta de Prácticas{% endblock %}

{% block content %}

{% load static %}
<div class="white-box">
	<table>
<form method="post">
	{%csrf_token%}
		<tbody>
		<tr><td width="5%"></td><td colspan="1" width="90%" align="center"><img src="{%static 'imagenes/encaen2.jpg'%}"  width="50%"></td><td width="5%"></td></tr>
		<tr><td width="5%"></td><td width="30%" align="center"><p>CALIDAD EN EL SERVICIO</p><p align="right">Folio<input type="text" placeholder="Folio" required="" name="folio"></p></td><td width="5%"></td>
		</tr>
			<tr>
				<td width="5%"></td>
				<td width="30%"></td>
				<td align="right" width="30%">Fecha:<input type="date" placeholder="dd/mm/aa" name="fecha"></td>
				<td width="5%"></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">Laboratorio<br>
					<select style="width:100%" size="0" name="id_laboratorio_horario">
						{%for lab_hora in form.id_laboratorio_horario%}
						<option selected>{{lab_hora}}</option>
						{%endfor%}
					</select>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">Nombre del Alumno<br>
					<select style="width:100%" size="0" name="id_alumno">
						{%for alumno in id_alumno%}
						<option selected>{{alumno}}</option>
						{%endfor%}
					</select></td>
					<td></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">Grupo<br>
					<input type="text" placeholder="Grupo" size="150" name="grupo">
				</td>
				<td></td>
			</tr>
			<tr>
				<td width="5%"></td>
				<td width="30%"></td>
				<td align="right">Horario
					<input type="time" value="--:-- ----" name="horario">
				</td>
				<td width="5%"></td>
			</tr>
			<tr>
				<td></td>
			</tr>

				<tr>
					<td></td>
					<td colspan="2">1)	Se te entrego el Reglamento Académico Administrativo para la realización de prácticas en los laboratorios este semestre o en semestres anteriores.</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si1" value="1">Si<input type="checkbox" name="no2" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2"><input type="text" placeholder="¿Por que?" size="150" name"porque1"></td>
				</tr>
				<tr>
					<td></td><td colspan="2">2)	Te explicarona grandes rasgos el Reglamento Académico Administrativo para la realización de prácticas en el laboratorio.</td><td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si2" value="1">Si<input type="checkbox" name="no2" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2"><input type="text" placeholder="¿Por que?" size="150" name"porque2"></td></td></tr>
				<tr>
					<td></td>
					<td colspan="2">3)	Te dieron a conocer la forma de evaluación de las prácticas de laboratorio.</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si3" value="1">Si<input type="checkbox" name="no3" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="text" placeholder="¿Por que?" size="150" name"porque3">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">4)	Te dieron a conocer el cronograma del semestre en curso de las prácticas de laboratorio.
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si4" value="1">Si<input type="checkbox" name="no4" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="text" placeholder="¿Por que?" size="150" name"porque4">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">5)	El desarrollo de las prácticas ha sido conforme a lo señalado en el manual de prácticas.
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si5" value="1">Si<input type="checkbox" name="no5" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="text" placeholder="¿Por que?" size="150" name"porque5">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">6)	La realización de las prácticas se han efectuado dentro de las fechas estipuladas en el cronograma de prácticas.
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si6" value="1">Si<input type="checkbox" name="no6" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="text" placeholder="¿Por que?" size="150" name"porque6">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">7)	Consideras que el tiempo para la realización de las prácticas es el adecuado.
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si7" value="1">Si<input type="checkbox" name="no7" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="text" placeholder="¿Por que?" size="150" name"porque7">
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">8)	Consideras que el objetivo de las prácticas se está cumpliendo y éste está relacionado con tu carrera.
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" name="si8" value="1">Si<input type="checkbox" name="no8" value="1">No
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="text" placeholder="¿Por que?" size="150" name"porque8">
					</td>
				</tr>
				<tr> <!--de nuevo un tr en otro -->
					<tr>
						<td></td>
						<td align="center"><br><br>
							
								<input type="submit" class="btn" value="Terminar Encuesta" />
							</form>
						</td>
						</tr>
						<td></td>
						<td>
							<font size="1"><br><br>FESA PIC P07 F01.1 </font>
						</td>
						<td></td>
						<td></td>
				</tr>
				</tbody>
			</table>
		</div>
{%endblock%}
