{% extends 'base.html' %}
{% block title %}Encuesta de Laboratorio{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid clearfix">
	<form method="post">
		{% csrf_token %}
		<div class="row">
			<img class="img-responsive" src="{%static "imagenes/encaen.jpg"%}">
		</div>
		<div class="row">
			<div class="col-sm-5"></div>
			<div class="col-sm-6">
				<label style="align:">CALIDAD EN EL SERVICIO</label>
			</div>
			<div class="col-sm-4"></div>
		</div><br>
			<div class="row">
			<div class="col-sm-2"><label>Profesor</label></div>
				<div class="col-sm-4">
					{{form.id_profesor}}
				</div>
				<div class="col-sm-3">
				</div>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="folio" placeholder="Folio" id="folio_id">
					<!--{{form.folio}}-->
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-2"><label>Laboratorio</label></div>
				<div class="col-sm-4">
					{{form.id_laboratorio}}
				</div>
				<div class="col-sm-3"><label> Número de Práctica</label></div>
				<div class="col-sm-3">
				{{form.id_practica}}
				</div>
			</div><br>


			<div class="row">
				<div class="col-sm-2"><label>1) El servicio que se dio fue:</label></div>
				<div class="col-sm-4">
					{{form2.servicio}}
				</div>
			
				<div class="col-sm-3"><label>1b) El servicio cumplió con el objetivo de la sesión prácticas</label></div>
				<div class="col-sm-3">
					{{form2.cumplio_objetivo}}
				</div>
			</div><br> <br>

			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-4"><label>2) Evaluacion al Personal de Apoyo:</label></div>
				<div class="col-sm-3"></div>
			</div> <br> <br>

			<div class="row">
				<div class="col-sm-3"><label>Nombre del personal de apoyo</label></div>
				<div class="col-sm-3">
					{{form2.id_laboratorista}}
				</div>
			</div><br>

			<div class="row">
				<div class="col-sm-3"><label>2a) Se abrio oportunamente: </label> </div>
				<div class="col-sm-3">
					{{form2.apertura_oportuna }}
				</div>
				<div class="col-sm-6">
					{{form2.apertura_porque}}
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-3"><label>2b) Permaneció en el área durante la sesión práctica: </label> </div>
				<div class="col-sm-3">
					{{form2.permanencia_enpractica}}
				</div>
				<div class="col-sm-6">
					{{form2.permanencia_porque}}
				</div>
			</div> <br>
			
			<div class="row">
				<div class="col-sm-3"><label>2c) Colaboró en la realización de la sesión práctica:</label></div>
				<div class="col-sm-3">
					{{form2.colaboracion_practica}}
				</div>
				<div class="col-sm-6">
					{{form2.colaboracion_porque}}
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-3"><label>2d) Entregó los equipos y materiales oportunamente:</label></div>
				<div class="col-sm-3">
					{{form2.entrega_equipo}}
				</div>
				<div class="col-sm-6">
					{{form2.entrega_porque}}
				</div>
			</div>
			<div class="row"><div class="col-sm-5"></div>
				<div class="col-sm-4"><label>Observaciones - Comentarios</label></div>
				<div class="col-sm-4"></div>
			</div>
			<input class="form-control" type="text" name="encuesta" value="folio_id" hidden>
			<div class="row">
				<div class="col-sm-12">
					{{form.observaciones}}
				</div>
			</div>	
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<button class="btn btn-block" type="submit">Terminar Encuesta </button>
		</div>
		<div class="col-sm-3"></div>
	</div>
	</form>
</div>

{%endblock%}
