<!DOCTYPE html>
<html>
	<head>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			 <!--[if lt IE 9]>
					 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
					 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			 <![endif]-->

			 <!--[if IE]>
					 <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script>
					 <script src="http://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
					 <script src="http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
			 <![endif]-->

		<meta charset="iso-8859-1"/>
		<meta httpd-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Sistema de Gestión de la Calidad{% endblock %}</title>
		<meta name="description" content="Consulta de Encuestas"/>
		<meta name="keywords" content="Consulta,encuestas"/>
		{%load static%}
			<script type="text/javascript" src="{% static "js/jquery.js"%}"></script>
			<script type="text/javascript" src="{% static "js/carga_asin.js"%}" async="async"></script>

    {% block css%}
    		{%include 'estilos.html'%}
    {%endblock%}
	</head>

	<body>

	    <div class="container" id="contenido-principal">
				{% include 'header.html'%}
				{% include 'navbar_menu.html'%}
                <div id="contenido">
                    {% block content %}

                    {% endblock %}
                </div>
				{% include 'footer.html'%}
			</div>

			{% include 'loader.html'%}

    {% block js%}
      {% include 'archivos_js.html' %}
			{% include 'toaster.html' with messages=messages %}
    {% endblock %}

	</body>
</html>
